body {
  color: aliceblue;
  background-color: black;
}

.publicidadApp {
color: aliceblue;
background-color: brown;

}

.footerfondo {
  color: aliceblue;
  background-color: rgba(67, 68, 66, 0.938);
}